//Variables
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("../images/bg-intro-desktop.png"), linear-gradient(rgb(248, 124, 110), salmon);
    background-size: cover;
    background-blend-mode: multiply;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    width: 100vw;
    //centering a div
    display: grid;
    place-items: center;
    overflow: hidden;
    color: white;
}

.form-container,
.top-offer,
input,
button {
    border-radius: 5px;
}

.main-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
}

.left-container {
    display: flex;
    flex-direction: column;
    padding: 2em 1em;
    flex-basis: 45%;
}

.form-container {
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 3em;
    box-shadow: 0 6px 2px 0px rgba(80, 77, 77, 0.5);
    .error-mes {
        display: none;
        color: red;
        font-style: italic;
        text-align: end;
        padding-right: 3em;
        margin: -1em 0 1em 0;
    }
    .show {
        display: block;
    }
}

.title {
    margin: 10em 0 10em 2em;
    flex-basis: 45%;
    h1 {
        font-size: 3.7rem;
    }
    p {
        font-size: 1.2rem;
        margin-right: 3em;
    }
}

.top-offer {
    font-size: 1.2rem;
    background-color: $blue;
    padding: 1em;
    margin-bottom: 1.3em;
    text-align: center;
    font-weight: 500;
    box-shadow: 0 6px 2px 0px rgba(80, 77, 77, 0.5);
    cursor: pointer;
}

.top-offer:hover {
    transition: .5s ease-in-out;
    background: hsl(248, 94%, 69%);
}

input {
    display: block;
    margin: 1em;
    width: 90%;
    font-size: 1.4rem;
    padding: 1em 1.3em;
    border: .5px solid $grayish-blue;
}

.red-addons {
    border: 1px solid red;
    background-image: url("../images/icon-error.svg");
    background-repeat: no-repeat;
    background-position: 95% .7em;
}

button {
    background-color: $green;
    padding: 1em;
    width: 90%;
    color: white;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

button:hover {
    transition: .5s ease-in-out;
    background: hsl(113, 91%, 27%);
}

.form-col::placeholder {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: .8em;
}

.form-footer {
    color: $grayish-blue;
    font-size: .9rem;
    span {
        color: $red;
        font-weight: bold;
        cursor: pointer;
    }
}

.attribution {
    font-size: 1.2rem;
    a:hover {
        color: $green;
    }
}

@media (max-device-width: 925px) {
    body {
        overflow: scroll;
    }
    .main-container {
        display: flex;
        flex-direction: column;
    }
    .title {
        margin: 0 auto;
        text-align: center;
        h1 {
            font-size: 2.5rem;
            @media (min-device-width: 550px) {
                font-size: 3rem;
            }
        }
        p {
            margin: 2em 0;
            @media (min-device-width: 550px) {
                font-size: 1.5rem;
            }
        }
    }
    .left-container {
        padding: 0;
    }
    .top-offer {
        padding: 1em 4em;
    }
    input,
    button {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    .attribution {
        padding: 3em;
        text-align: center;
    }
}