* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/bg-intro-desktop.png"), -webkit-gradient(linear, left top, left bottom, from(#f87c6e), to(salmon));
  background-image: url("../images/bg-intro-desktop.png"), linear-gradient(#f87c6e, salmon);
  background-size: cover;
  background-blend-mode: multiply;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow: hidden;
  color: white;
}

.form-container,
.top-offer,
input,
button {
  border-radius: 5px;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 70%;
  max-width: 90vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5em;
}

.left-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2em 1em;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.form-container {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2em 3em;
  -webkit-box-shadow: 0 6px 2px 0px rgba(80, 77, 77, 0.5);
          box-shadow: 0 6px 2px 0px rgba(80, 77, 77, 0.5);
}

.form-container .error-mes {
  display: none;
  color: red;
  font-style: italic;
  text-align: end;
  padding-right: 3em;
  margin: -1em 0 1em 0;
}

.form-container .show {
  display: block;
}

.title {
  margin: 10em 0 10em 2em;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.title h1 {
  font-size: 3.7rem;
}

.title p {
  font-size: 1.2rem;
  margin-right: 3em;
}

.top-offer {
  font-size: 1.2rem;
  background-color: #6055a5;
  padding: 1em;
  margin-bottom: 1.3em;
  text-align: center;
  font-weight: 500;
  -webkit-box-shadow: 0 6px 2px 0px rgba(80, 77, 77, 0.5);
          box-shadow: 0 6px 2px 0px rgba(80, 77, 77, 0.5);
  cursor: pointer;
}

input {
  display: block;
  margin: 1em;
  width: 90%;
  font-size: 1.4rem;
  padding: 1em 1.3em;
  border: 0.5px solid #b9b6d3;
}

button {
  background-color: #38cc8c;
  padding: 1em;
  width: 90%;
  color: white;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.form-col::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: .8em;
}

.form-col:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: .8em;
}

.form-col::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: .8em;
}

.form-col::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: .8em;
}

.form-footer {
  color: #b9b6d3;
  font-size: .9rem;
}

.form-footer span {
  color: #ff7a7a;
  font-weight: bold;
  cursor: pointer;
}

.attribution {
  display: none;
}
/*# sourceMappingURL=style.css.map */